{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center mx-auto my-2">{{ message }}</div>
{% endfor %}

    <h1 class="text-center mt-4">Back Office</h1>
    <div class="container">
        <ul>
            <li><a href="{{ path('gestion_vehicule') }}" class="text-decoration-none">Gestion des véhicules</a></li>
            <li><a href="{{ path('gestion_membre') }}" class="text-decoration-none">Gestion des membres</a></li>
            <li><a href="{{ path('gestion_commande') }}" class="text-decoration-none">Gestion des commandes</a></li>
        </ul>
    </div>
    
{% endblock %}
